
<hr>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item 
        *ngFor="let recipeElement of recipes; let i = index"
        [recipe]="recipeElement"
        [index]="i"
        ></app-recipe-item>
    </div>
</div>
<p appBasicHighLight>Style me</p>
<p appBetterHighlight>Style me</p>
<p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'lightgreen'">Style me</p>
<div *appUnless="booleanValue">something to show my directive in action</div>